.button {
	background-color: lightgray;
	border-radius: 5px;
	width: 100px; 
	height: 17px; 
	position: fixed; 
	left: 100px;
	text-align: center;
	padding: 5px;
}

.button:hover {
	background-color: darkgray;
	cursor: pointer;
}

.button_small{
  	float:right;
   	width: 20px;
   	height: 14px;
   	text-align:center;
   	vertical-align:center;
   	background-color: gray;
   	border-style: solid;
   	border-color: black;
   	font-size: 10px;
   	cursor: pointer;
   	font: Arial;
}
     
   
.button_small:hover {
   	background-color: lightgray;
}